# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Env variables for Python (e.g., .env files)
.env
.flaskenv

# Virtual environments
.venv/
venv/
env/
/bin/
/include/
/lib/
/share/
/Scripts/
/Lib/
/local/

# Installer files
*.egg
*.whl

# PyInstaller / cx_Freeze
# These files are created by PyInstaller and cx_Freeze to bundle Python applications.
# They are typically large and should not be committed to version control.
# Instead, the build process should be run on demand.
# For PyInstaller:
spec/
dist/
build/
# For cx_Freeze:
build/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/
.nox/

# Editors/IDE specific files
.vscode/        # VS Code
.idea/          # PyCharm / IntelliJ IDEA
*.swp           # Vim
*.swo           # Vim
*~              # Emacs
.DS_Store       # macOS
Thumbs.db       # Windows
ehthumbs.db     # Windows
Desktop.ini     # Windows

# Jupyter Notebook files
.ipynb_checkpoints/
*.ipynb

# Logs and databases
*.log
*.sqlite3
*.db
